version: '{build}'
skip_non_tags: true 
image: Visual Studio 2017
environment:
  my_secret:
    secure: oB6h1YHPdFxVwg7++llRwg== # Encriptada em https://ci.appveyor.com/tools/encrypt
  my_salt:
    secure: qwLvOf0cQZl3iZyb6bC24sgICxmGw47jy9xO47Tv0nrhUQPdcUMKBz3GzUKbIKOa566oL8iB9lXhYHT6cPq1hg==
branches:
  only:
  - master
configuration: Release
install:
  - cmd: echo %APPVEYOR_REPO_TAG_NAME%
  - cmd: dotnet restore
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: $(APPVEYOR_REPO_TAG_NAME)
  package_version: $(APPVEYOR_REPO_TAG_NAME)
  assembly_version: $(APPVEYOR_REPO_TAG_NAME)
  file_version: $(APPVEYOR_REPO_TAG_NAME)
  informational_version: $(APPVEYOR_REPO_TAG_NAME)
build:
  verbosity: minimal
  project: logger-discord-provider.sln
build_script:
  - cmd: dotnet build
  - ps: iex ((New-Object Net.WebClient).DownloadString('https://raw.githubusercontent.com/appveyor/secure-file/master/install.ps1'))
  - cmd: appveyor-tools\secure-file -decrypt logger-discord-provider-tests\bin\Release\netcoreapp2.1\testSettings.json.enc -secret %my_secret% -salt %my_salt%
  - cmd: dotnet pack
  - cmd: cd logger-discord-provider-tests
  - cmd: dotnet test
artifacts:
  - path: '**\logger-discord-provider*.nupkg'
    name: logger-discord-provider-nuget
deploy:
  # NuGet
  - provider: NuGet
    api_key:
      secure: elSIIfUoE/kibjNJQU93PGHqgFrbPO3ngSC3MoUEUVWCtjLPDHrPucwy4Wmxluf7 # Encriptada em https://ci.appveyor.com/tools/encrypt
    skip_symbols: false
    artifact: logger-discord-provider-nuget
on_success:
  - echo Processo finalizado com sucesso!
